:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --gray-color: #888;

}

/* Start Frame Work */
.text-align {
    text-align: center;
}
.txt-tr{
    text-transform: capitalize;
}
/* .sidebar h3 span{
    color:var(--blue-alt-color);
} */
/* Start float */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}
/* End float */
/* Start ul */
ul {
    list-style: none;
}
/* End ul */
.hight-100{
    height: 100%;
}
.h-70p{
    height: 70px;
}
.h-50p{
    height: 50px;
}
.mx-h-180p{
    max-height: 180px;
}
.h-200p{
    height: 200px;
}
.mx-h380{
    max-height: 380px;
}
.mxh600{
    max-height: 600px;
}
.h-150p{
    height: 150px;
}
.brd-out-none{
    border: none;
    outline: none;
}
.blk{
    background-color: #000;
}
/* Start flex */
.d-flex{
    display: flex;
}
.flex{
    flex: 1;
}
.align-center{
    align-items: center;
}
.j-cont-b{
    justify-content: space-between;
}
.j-center{
    justify-content: center;
}
.j-end{
    justify-content: end;
}
.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-grid{
    display: grid;
}
.d-bl{
    display: block;
}
.gap-20{
    gap: 20px;
}
.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}
.f-col{
    flex-direction: column;
}
.f-wr{
    flex-wrap: wrap;
}
/* End flex */
/*  */
.b-sh{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.op05{
    opacity: 0.5;
}
.n-event{
    pointer-events: none;
}
/* Start border */
    .border-outline{
        border: none;
        outline: none;
    }
/* End border */
.p-ides{
    max-width: 100px;
    overflow: hidden;
    max-height: 45px;
}
.dir-l{
    direction: ltr;
}
.dir-r{
    direction: rtl;
}
.mx-wi-250p{
    max-width: 250px;
}
.mx-h-250p{
    max-height: 250px;
}
.mx-h-280p{
    max-height: 280px;
}
.mx-h-200p{
    max-height: 200px;
}
.d-i-b{
    display: inline-block;
}
.hi{
    height: 30px;
}
.right{
    right: 10px;
}
.left{
    left: 10px;
}
.top{
    top: 10px;
}
.border-b2{
    border-bottom: 2px solid #Eee;
}
.border-p{
    border-bottom: 1px solid #Eee;
}
.border-t2{
    border-top: 2px solid #Eee;
}
.border-p{
    border-top: 1px solid #Eee;
}
/* Start padding margin position */
.ptb-10{
    padding: 10px 0;
}
.p-0{
    padding: 0;
}
.p-5{
    padding: 5px;
}
.p-3{
    padding: 3px;
}
.p-15{
padding: 15px;
}
.p-10{
padding: 10px;
}
.p-30{
padding: 30px;
}
.pr-10{
padding-right: 10px;
}
.pl-5{
padding-left: 5px;
}
.pl-10{
padding-left: 10px;
}
.pl-15{
padding-left: 15px;
}

.pt-5{
    padding-top: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pt-25{
    padding-top: 25px;
}
.pb-5{
    padding-bottom: 5px;
}

.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}
.pb-25{
    padding-bottom: 25px;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-35{
    padding-bottom: 35px;
}
.p-15{
    padding: 15px;
}
.p-20{
    padding: 20px;
}
.pl-5 {
    padding-left: 5px;
}
.m-0{
    margin: 0;
}
.m-5{
    margin: 5px;
}
.mt-5{
    margin-top: 5px;
}

.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.ml--5{
    margin-left: -5px;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml--10{
    margin-left: -10px;
}
.ml-15{
    margin-left: 15px;
}
.ml-30{
    margin-left: 30px;
}
.mr-5{
    margin-right: 5px;
}
.mrg-au-0{
    margin: 0 auto;
}
.mrg-au-10{
    margin: 10px auto;
}
.mr-10{
    margin-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mt--8{
    margin-top: -8px;
}
.mt--15{
    margin-top: -15px;
}
.mt--5{
    margin-top: -5px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt--10{
    margin-top: -10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.mt-30{
    margin-top: 30px;
}
.mt-35{
    margin-top: 35px;
}
.mt-40{
    margin-top: 40px;
}
.mt-45{
    margin-top: 45px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-20{
    margin-bottom: 20px;
}
.p-relative{
    position: relative;
}
.p-abs{
    position:absolute;
}
.mt-0{
    margin-top: 0;
}
/* End padding margin position */
/* Start background and color */
.bg-fff {
    background-color: #fff;
}
.bg-blue{
    background-color: var(--blue-color);
}
/* .blue{
    : rgb(0 117 255 / 20%);
} */
.d-none{
    display: none;
}
.disc{
    text-decoration: line-through;
    color: gray;
}
a {
    color: #000;
    text-decoration: none;
}
.bg-eee{
    background-color: #eee;
}
.bg-000 {
    background-color: black;
}
.bg-page{
    background-color: #eee;
}
.blue-c
{
    color: #0075ff;
}
.red{
    color: #f44336;
}
.c-red{
    color: red;
}
.brdr-e{
    border: 2px solid #eee;
}
table{
    min-width: 1000px;
    overflow: scroll;
    border-spacing: 0;
}
table thead tr{
    background-color: #eee;
}
td{
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 15px;
}
.address{
    max-width: 155px;
    max-height: 100px;
    overflow: scroll;
    word-wrap: break-word;
}
.popup-profile{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    color: #f00;
}
.del{
    cursor: pointer;
    color: #000;
    background-color: #fff;
    /* border-radius: 6px; */
    /* padding: 15px 10px; */
    border: none;
    outline: none;
}
.bg-green{
    background-color: var(--green-color);
}
.bg-red{
    background-color: var(--red-color);
}
.c-b{
    background-color: #1da1f2;
}
.c-c{
    color: #1da1f2;
}
.border{
    border: 1px solid #eee;
}
.brd-bt-e{
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
.brd-bt-0{
    border-bottom:1px solid #000;
    padding-bottom: 10px;
}
.brd-l-e{
    border-left: 2px solid #eee;
    padding-left: 10px;
}
.brd-t-e{
    border-top: 2px solid #eee;
    padding-top: 10px;
}
.brd-0{
    border: 2px solid #000;
}
.orange-m{
    color: var(--orange-color);
}
.bg-or{
    background-color: var(--orange-color);
}
.approved{
    text-decoration: line-through;
    color: gray;
}
/*  */
.parent-popup{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000a1;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.parent-popup .box{
    background-color: #ffff;
    padding: 15px;
    border-radius: 6px;
}
.parent-popup .box form{}
/*  */
.ov-scr{
    overflow: scroll;
}
.pos-fix-center{
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}
.imgs-p{
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    gap: 7px;
    height: 300px;
}
/* .imgs-p-v{} */
.imgs-p-v{
    display: grid;
    grid-template-columns: 200px 200px;
    gap: 12px;
    height: 300px;
    overflow: scroll;
}
.br-wr{
    word-break: break-word;
}
.mx-wi-p-c{
    max-width: 300px;
    max-height: 100px;
    overflow: scroll;
}
.mx-wi-img{
    max-width: 250px;
}
.mx-wi-150p{
    max-width: 150px;
}
.mx-wi-img220{
    max-width: 220px;
}
.w-600p{
    width: 600px;
}
.w-300p{
    width: 300px;
}
.w-200p{
    width: 200px;
}
.w-100-px{
    width: 100px;
}
.w-150p{
    width: 150px;
}
.w-70p{
    width: 70px;
}
.w-255p{
    width: 255px;
}
.w-full{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-50p{
    width: 50px;
}
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-40{
    width: 40%;
}
.w-30{
    width: 30%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-fit{
    width: fit-content;
}
.color-grey{
    color:var(--gray-color);
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-13{
    font-size: 13px;
}
.fs-12{
    font-size: 12px;
}
.d-block{
    display: block;
}
.c-fff{
    color: #fff;
}
.send-order{
    background: #0075ff;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
}
.bg-bor-nn{
    border: none;
    background: none;
}
.details-order{
    display: block;
    color: gray;
    font-size: 12px;
}
.over-flow-h{
    overflow: hidden;
}
.over-flow-s{
    overflow: scroll;
}
.fw-bold{
    font-weight: bold;
}
.txt-d-center{
    text-decoration: line-through;
}
.c-dbdbdb{
    color: #dbdbdb;
}
.pointer{
    cursor: pointer;
}
.event{
    pointer-events: none;
}
/* End background and color */
/* Radius */
.rad-6{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* End Radius */
/* btn-shape */
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.inp-sh{
    width: 100%;

    outline: none;
    transition: 0.3s;
    padding: 15px 10px;
    border: 2px solid #eee;
    border-radius: 6px;
}
.inp-sh:focus{
    border-color: #0075ff;
}
/* End Frame Work */
@media (max-width:767px)
{
    .hide-mobile{
        display: none;
    }
    .txt-c-mobile{
        text-align: center;
    }
    .block-mobile,
    .d-block-mobile{
        display: block;
    }
    .d-flex-mobile{
        display: flex;
    }
    .j-center-mobile{
        justify-content: center;
    }
    .w-fit-mobile{
        width: fit-content;
    }
    .text-align-mobile{
        text-align: center;
    }
    }
    /*  */
    @media (min-width:992px)
{

    .w-fit-l{
        width: fit-content;
    }
}