*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    
    font-family: system-ui;
}
header{
    padding: 15px 20px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px dashed #00000094;
    /* margin-bottom: 20px; */
}
header .lg img{
    width: 50px;
}
header nav{}
header nav ul{
    display: flex;
    gap: 10px;
}
header nav ul li{}
.intro{
    background-image: url(../imgs/intro.png);
        background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.intro .ovrly{
        width: 100%;
    height: 100vh;
    background-color: #00000094;
}
.intro h3{
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    font-size: 50px;

}

.products{}
.products .title{
    padding: 15px 20px;
}
.products .title h3{ff;
    border: 3px solid #0075ff;
    border-radius: 7px;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
}
.products .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.products .boxes .box{
    border: 3px solid #eee;
    border-radius: 7px;
    width: fit-content;
    padding: 15px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.products .boxes .box .img{}
.products .boxes .box .img img{
    width: 300px;
    height: 450px;
}
.products .boxes .box .ft-b{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products .boxes .box .ft-b span{}
.products .boxes .box .ft-b button{
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    border: 3px solid #0075ff;
    background-color: #0075ff;
    cursor: pointer;
}







@media (max-width: 767px){
    header{
        flex-direction: column;
    gap: 30px;
    }
    header .lg img{
width: 150px;
    }
}